{% extends 'base.html.twig' %}

{% block body_class %}home{% endblock %}

{% block body %}
<!-- Banner -->
    <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
            <h1>MVC avec Pierre Stoffe</h1>
            <p class="major">Nos rêvont d'être web developpeurs, mais quelle est la réalité de ce métier aujourd'hui?</p>
            <ul class="actions vertical">
                <li><a href="#first" class="button big wide smooth-scroll-middle">Get Started</a></li>
            </ul>
        </div>
        <div class="image">
            <img src="{{ asset('assets/upload/banner.jpg') }}" alt="" />
        </div>
    </section>

    {% for post in posts %}

    <section class="spotlight style1 orient-{{ post.indexOrder%2 ? 'right': 'left' }} content-align-left image-position-center onscroll-image-fade-in" id="first">
        <div class="content">
            <h2>{{ post.title }}</h2>
            <p>{{ post.intro }}</p>
            <ul class="actions vertical">
                <li><a href="{{ path('post', {slug: post.slug}) }}" class="button">Lire plus</a></li>
            </ul>
        </div>
        <div class="image">
            <img src="{{ asset('assets/upload/' ~ post.img) }}" alt="" />
        </div>
    </section>

    {% endfor %}

<!-- Conclusion -->
    <section class="wrapper style1 align-center">
        <div class="inner">
            <h2>Conclusion</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p>
        </div>

    </section>
{% endblock %}
